body {
    display: flex;
    flex-direction: column;
    color: white;
}

/* Beginning styling the header */

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    gap: 40px;
}

.header-left {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-right {
    font-size: 18px;
    color: #e5e7eb;
}

.content-header {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 200px;
    gap: 10px;
}

.content-header .content-header-left {
    flex: 1 1 300px;
}

.content-header-right {
    background-color: grey;
    flex: 1 1 300px;
}

.content-header-left .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.content-header-left .text {
    font-size: 18px;
    color: #e5e7eb;
}

.button {
    padding: 10px;
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    border: none;
    padding: 10px 30px;
}

/*   Going to the content-center-1 section  */

.content-center-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.content-center-1 .title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 30px;
    
}

.content-center-1-bottom {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    color: grey;
    max-width: 150px;
    justify-content: center;

}

.box {
    border: #3882f6 4px solid;
    border-radius: 10px;
    flex: 1 1 200px;
    max-width: 150px;
    max-height: 150px;
}

.box-container .text {
    display: flex;
    align-self: center;
}


/* Going for the quote section */

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 400px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;

}

.signature {
    font-size: 16px;
    color: black;
    font-weight: 700;
    align-self: flex-end;
}

/* Beginning of call to action section styling */

.call-to-action {
    display: flex;
    padding: 70px 400px;
}

.call-to-action-container {
    flex: 1;
    background-color: #3882f6;
    border-radius: 12px;
    display: flex;
    padding: 30px 75px;
    gap: 50px;
    justify-content: space-evenly
}

.action-left {
    flex: ;
}

.action-title {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.action-text {
    color: #e5e7eb;
    font-size: 18px;
}

.action-right {
    flex: ;
    background-color: #3882f6;
    color: #f9faf8;
    border: #f9faf8 5px solid;
    border-radius: 12px;

}




